
/* font-family: "Josefin Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* font-family: "Sigmar", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
/* font-family: "Geist", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


/* Font: Avenir Next */
@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-UltraLight.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Thin.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Demi.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Bold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Heavy.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
