
/* font-family: "Josefin Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* font-family: "Sigmar", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


/* Font: Avenir Next */
@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Thin.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@/assets/fonts/AvenirNext-Heavy.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
